In [1]:
import numpy as np
import pandas as pd

In [2]:
import datetime
from datetime import datetime, date

In [4]:
pd.set_option("display.notebook_repr_html", False)
pd.set_option("display.max_columns", 8)
pd.set_option("display.max_rows", 10)
pd.set_option("display.width", 80)

In [5]:
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
s = pd.Series([1, 2, 3, 4, 5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
s[1]

2

In [9]:
s[[1, 3]]

1    2
3    4
dtype: int64

In [11]:
s[2:4]

2    3
3    4
dtype: int64

In [12]:
s = pd.Series([1, 2, 3, 4, 5], index=["a", "b", "c", "d", "e"])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
s[["a", "d"]]

a    1
d    4
dtype: int64

In [14]:
s["b":"d"]

b    2
c    3
d    4
dtype: int64

In [15]:
s[2:4]

c    3
d    4
dtype: int64

In [16]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [17]:
dates = pd.date_range("2020-03-18", "2020-03-23")
dates

DatetimeIndex(['2020-03-18', '2020-03-19', '2020-03-20', '2020-03-21',
               '2020-03-22', '2020-03-23'],
              dtype='datetime64[ns]', freq='D')

In [18]:
temps1 = pd.Series([80, 82, 85, 90, 83, 87], index=dates)
temps1

2020-03-18    80
2020-03-19    82
2020-03-20    85
2020-03-21    90
2020-03-22    83
2020-03-23    87
Freq: D, dtype: int64

In [20]:
temps1["2020-03-20"]

85

In [21]:
temps2 = pd.Series([76, 78, 69, 83, 79, 71], index=dates)
temps2

2020-03-18    76
2020-03-19    78
2020-03-20    69
2020-03-21    83
2020-03-22    79
2020-03-23    71
Freq: D, dtype: int64

In [22]:
temp_diffs = temps1 - temps2
temp_diffs

2020-03-18     4
2020-03-19     4
2020-03-20    16
2020-03-21     7
2020-03-22     4
2020-03-23    16
Freq: D, dtype: int64

In [23]:
temp_diffs.mean()

8.5

In [26]:
temps_df = pd.DataFrame({"Missoula": temps1, "Philadelphia": temps2})
temps_df

            Missoula  Philadelphia
2020-03-18        80            76
2020-03-19        82            78
2020-03-20        85            69
2020-03-21        90            83
2020-03-22        83            79
2020-03-23        87            71

In [28]:
temps_df.Missoula

2020-03-18    80
2020-03-19    82
2020-03-20    85
2020-03-21    90
2020-03-22    83
2020-03-23    87
Freq: D, Name: Missoula, dtype: int64

In [30]:
temps_df["Difference"] = temps_df["Missoula"] - temps_df["Philadelphia"]
temps_df

            Missoula  Philadelphia  Difference
2020-03-18        80            76           4
2020-03-19        82            78           4
2020-03-20        85            69          16
2020-03-21        90            83           7
2020-03-22        83            79           4
2020-03-23        87            71          16

In [31]:
temps_df["Difference"][1:4]

2020-03-19     4
2020-03-20    16
2020-03-21     7
Freq: D, Name: Difference, dtype: int64

In [32]:
temps_df.iloc[1]

Missoula        82
Philadelphia    78
Difference       4
Name: 2020-03-19 00:00:00, dtype: int64

In [33]:
temps_df.iloc[1].index

Index(['Missoula', 'Philadelphia', 'Difference'], dtype='object')

In [34]:
temps_df.loc["2020-03-21"]

Missoula        90
Philadelphia    83
Difference       7
Name: 2020-03-21 00:00:00, dtype: int64

In [35]:
temps_df.iloc[[1, 3, 5]].Difference

2020-03-19     4
2020-03-21     7
2020-03-23    16
Freq: 2D, Name: Difference, dtype: int64

In [36]:
temps_df.Missoula > 82

2020-03-18    False
2020-03-19    False
2020-03-20     True
2020-03-21     True
2020-03-22     True
2020-03-23     True
Freq: D, Name: Missoula, dtype: bool

In [37]:
temps_df[temps_df.Missoula > 82]

            Missoula  Philadelphia  Difference
2020-03-20        85            69          16
2020-03-21        90            83           7
2020-03-22        83            79           4
2020-03-23        87            71          16

In [38]:
df = pd.read_csv("Data/goog.csv")
df

          Date        Open        High         Low       Close   Volume
0   12/19/2016  790.219971  797.659973  786.270020  794.200012  1225900
1   12/20/2016  796.760010  798.650024  793.270020  796.419983   925100
2   12/21/2016  795.840027  796.676025  787.099976  794.559998  1208700
3   12/22/2016  792.359985  793.320007  788.580017  791.260010   969100
4   12/23/2016  790.900024  792.739990  787.280029  789.909973   623400
..         ...         ...         ...         ...         ...      ...
56   3/13/2017  844.000000  848.684998  843.250000  845.539978  1149500
57   3/14/2017  843.640015  847.239990  840.799988  845.619995   779900
58   3/15/2017  847.590027  848.630005  840.770020  847.200012  1379600
59   3/16/2017  849.030029  850.849976  846.130005  848.780029   970400
60   3/17/2017  851.609985  853.400024  847.109985  852.119995  1712300

[61 rows x 6 columns]